* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: hsl(217, 54%, 11%);
  color: white;
}

.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 15px;
  width: 275px;
  padding: 24px;
}

.card__image {
  position: relative;
}

.mainImg {
  width: 275px;
}

.card__image div {
  position: absolute;
  background-color: hsl(178, 100%, 50%, 60%);
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.card__image div:hover {
  opacity: 1;
  border-radius: 8px;
  cursor: pointer;

}

.card__image div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h3 {
  margin-top: 24px;
  font-weight: 600;
}

.card__description {
  margin: 10px 0 16px ;
  color: hsl(215, 51%, 70%);
  line-height: 28px;
  font-weight: 400;
}

.card__price-days {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid hsl(215, 51%, 70%);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.card__price {
  display: flex;
  align-items: center;
  color: hsl(178, 100%, 50%);
}


.card__days {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.card__days img {
  margin-right: 11px;
}

.card__creator {
  display: flex;
  align-items: center;
  color: hsl(215, 51%, 70%);
}

.avatar {
  border: 1px solid white;
  border-radius: 50px;
  margin-right: 1rem;
}

span {
  color: white;
  margin-left: 5px;
}



h3:hover,
span:hover {
  cursor: pointer;
  color: hsl(178, 100%, 50%);
}
